/* место для вашего кода */
* {
  box-shadow: inset 0 2px 10px rgba(255, 0, 0, 0.25);
}

.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 0 50px;
}

.header__menu {
}

.header__links-list {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.header__links-list-item {
  list-style: circle;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link {
}

.header__link_active {
  text-decoration: none;
}

.header__logo {
  display: block;
}

.header__logo-image {
  min-width: 100px; /* ??? */
}

.address {
}

.header__address {
}

.cover {
  margin-bottom: 180px;
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.lots {
  margin: 0 24px 120px;
}

.about {
  margin: 0 24px 180px;
}
