/* место для вашего кода */
* {
  box-shadow: inset 0 4px 10px rgba(255, 242, 0, 0.805);
}

.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 90px 50px;
}

/* .header__menu {
} */

.header__links-list {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 32px;
}

.header__links-list-item {
  font-size: 18px;
  list-style: circle;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

/* .header__link {

} */

.header__link_active {
  text-decoration: none;
}

.header__logo {
  display: block;
  text-align: center;
}

.header__logo-image {
  width: 138px;
  vertical-align: middle;
}

.address {
  justify-self: end;
  max-width: 240px;
  font-size: 18px;
  font-style: normal;
  line-height: 22px;
}

.header__address {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.header__address-nowrap {
  white-space: nowrap;
}

main {
  color: white;
}

.cover__title,
.cover__description-text,
.bet-button {
  z-index: 2;
}

.overlay {
  position: absolute;
  z-index: 1;
  background: rgba(0, 0, 0, 0.6);
}

.cover {
  z-index: 0;
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 757px;
  margin-bottom: 180px;
  padding: 0 50px;
  background-image: url(../images/cover.jpg) ;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-transform: uppercase;
}

.cover__title {
  display: flex;
  justify-content: space-between;
  margin: 165px 0 106px;
  flex-direction: column;
  width: 1000px;
  min-height: 385px;
  font-size: 100px;
  font-weight: bold;
}

.letter-spacing-extended {
  letter-spacing: 30px;
}

.aligned-text {
  display: block;
}

/* .aligned-text_left {
  align-self: flex-start;
} */

.aligned-text_center {
  align-self: center;
}

.aligned-text_right {
  align-self: flex-end;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.cover__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cover__description-text {
  display: block;
  font-size: 22px;
  font-weight: normal;
  word-spacing: 19px;
}

.bet-button {
  text-transform: uppercase;
  border: 1px solid white;
  background-color: transparent;
  color: white;
  padding: 12px 30px;
  font-weight: 500;
  font-size: 22px;
}

.lots {
  margin: 0 24px 120px;
}

.about {
  margin: 0 24px 180px;
}
