/* Контуры блоков */
/* * {
  box-shadow: inset 0 4px 10px rgba(157, 199, 161, 0.918);
} */

.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 90px 50px 96px;
}

.header__links-list {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 32px;
}

.header__links-list-item {
  font-size: 18px;
  list-style: circle;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link_active,
.footer__menu-link_active {
  text-decoration: none;
}

.header__logo {
  display: block;
  text-align: center;
}

.header__logo-image {
  width: 138px;
  vertical-align: middle;
}

.address {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 240px;
  font-size: 18px;
  font-style: normal;
  line-height: 1.3;
}

.header__address {
  justify-self: end;
}

.address-nowrap {
  white-space: nowrap;
}

main {
  color: white;
}

.cover__title,
.cover__description-text,
.bet-button {
  z-index: 2;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.cover {
  position: relative;
  z-index: 0;
  display: flex;
  flex-direction: column;
  min-height: 758px;
  margin-bottom: 180px;
  padding: 0 50px;
  text-transform: uppercase;
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.cover__title {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 1000px;
  min-height: 385px;
  margin: 165px 0 106px;
  font-weight: bold;
  font-size: 100px;
}

.letter-spacing-extended {
  letter-spacing: 30px;
}

.aligned-text {
  display: block;
}

.aligned-text_center {
  align-self: center;
}

.aligned-text_right {
  align-self: flex-end;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.cover__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cover__description-text {
  display: block;
  font-weight: normal;
  font-size: 22px;
  word-spacing: 19px;
}

.bet-button {
  border: 1px solid white;
  padding: 12px 30px;
  color: white;
  font-weight: 500;
  font-size: 22px;
  text-transform: uppercase;
  background-color: transparent;
}

.lots {
  margin: 0 24px 120px;
}

.lots__heading {
  margin-bottom: 28px;
  padding-left: 40px;
  color: #000;
  font-weight: bold;
  font-size: 40px;
  text-transform: uppercase;
}

.lots__card-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 23px;
}

.lots__card-list-item {
  position: relative;
  width: 335px;
  min-height: 596px;
}

.card-link {
  display: block;
  height: 100%;
  text-decoration: none;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 48px 40px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.card__title {
  z-index: 3;
  font-weight: bold;
  font-size: 22px;
  line-height: 1.2;
  text-decoration: underline;
  text-transform: uppercase;
}

.card__text {
  z-index: 3;
  line-height: 1.2;
}

.lots__look-more-link {
  display: block;
  padding-top: 32px;
  padding-left: 40px;
  color: black;
}

.about {
  margin: 0 24px 182px;
  color: black;
}

.about__column {
  display: grid;
  grid-template-columns: 335px auto;
  gap: 24px;
}

.about__logo {
  display: flex;
  justify-self: center;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  margin-top: 32px;
  border-radius: 50%;
  background-color: black;
}

.about__logo-image {
  width: 148px;
}

.about__title {
  padding: 133px 0 100px;
  font-size: 40px;
  text-transform: uppercase;
}

.about__text__container {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.about__text {
  line-height: 1.2;
}

.footer {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: start;
  padding: 0 50px 56px;
  line-height: 1.24;
}

.footer__address {
  justify-self: start;
}

.footer__menu-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style-type: none;
}

.footer__menu-list-item {
  font-size: 18px;
}

.footer__social-list {
  display: flex;
  flex-direction: row;
  justify-content: end;
  gap: 48px;
  list-style-type: none;
}

.footer__social-icon {
  width: 48px;
}
