/* место для вашего кода */
* {
  box-shadow: inset 0 2px 10px rgba(255, 0, 0, 0.25);
}

.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 90px 50px;
}

.header__menu {
}

.header__links-list {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 10px;
  list-style-position: inside;
}

.header__links-list-item {
  /* list-style-position: inside; */
  padding-left: 5px;
  font-size: 18px;
  list-style: circle;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link {
}

.header__link_active {
  text-decoration: none;
}

.header__logo {
  display: block;
  align-items: center;
}

.header__logo-image {
  align-items: center;
  width: 138px;
}

.address {
  justify-self: end;
  max-width: 240px;
  font-size: 18px;
  font-style: normal;
  line-height: 22px;
}

.header__address {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.header__address-nowrap {
  white-space: nowrap;
}

main {
  color: white;
}

.cover {
  position: relative;
  min-height: 757px;
  margin-bottom: 180px;
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.overlay {
  position: absolute;
  z-index: 1;
  background: rgba(0, 0, 0, 0.6);
}

.lots {
  margin: 0 24px 120px;
}

.about {
  margin: 0 24px 180px;
}
