/* место для вашего кода */
* {
  box-shadow: inset 0 2px 10px rgba(255, 0, 0, 0.25);
}

.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 0 50px;
}

.header__menu {
}

.header__links-list {
  display: flex;
  flex-direction: row;
  gap: 13px;
}

.header__links-list-item {
  font-size: 18px;
  list-style: circle;
  list-style-position: inside;
  padding-left: 10px;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link {
}

.header__link_active {
  text-decoration: none;
}

.header__logo {
  display: block;
}

.header__logo-image {
  min-width: 100px; /* ??? */
}

.address {
  justify-self: end;
  max-width: 240px;
  font-size: 18px;
  font-style: normal;
}

.header__address {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.header__address-nowrap {
  white-space: nowrap;
}

.cover {
  margin-bottom: 180px;
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.lots {
  margin: 0 24px 120px;
}

.about {
  margin: 0 24px 180px;
}
